*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

a:visited{
    color: #212529;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    background-color: #f8f9fa;
    height: 100vh;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 19px;
    color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


h1{
    padding-top: 5%;
}

.bouttons{
    margin-top: 4%;
}

.small_case{
    font-size: 19px;
    color: #212529;
    margin: 15px;
    padding: 20px;
    height: 26px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #f8f9fa;
    box-shadow:  5px 5px 10px #d5d6d7,
             -5px -5px 10px #ffffff;
}

.small_case sup{
    font-style: italic;
    font-weight: 1000;
    font-size: 13px;

}

i{
    position: relative;
    left: 6px;
    top: 1.2px;
}

.large_case{
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px 0px;
    padding: 20px;
    width: 450px;
    border-radius: 16px;
    background: #f8f9fa;
    box-shadow:  5px 5px 10px #d5d6d7,
             -5px -5px 10px #ffffff;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}


.pushed:hover{
    border-radius: 16px;
    background: #f8f9fa;
    box-shadow: inset 5px 5px 10px #d5d6d7,
            inset -5px -5px 10px #ffffff;
    font-size: 18.25px;
}

li{
    width: 500px;
    height: auto;
    color: #212529;
    text-align: center;
}

